<h1>Editing Review</h1>

<%= render 'form', review: @review, restaurant: @restaurant %>

<%= link_to 'Show', restaurant_review_path(@review, restaurant_id: @restaurant.id) %> |
<%= link_to 'Back', restaurant_reviews_path(@restaurant) %>
